
h2{
  color : #ED1E79 ;
  text-shadow : 2px 1px 3px #000 ;
  font-size:1.7em;
  font-weight: bold;
}
h3{
  font-size:1.3em;
  font-style:italic;
  color:#FF0000;
  text-decoration:underline;
}
.logo{
  width:60px;
  vertical-align:middle;
}
.logo2{
  width:150px;
  vertical-align:middle;
}
.logo3{
  vertical-align:middle;
}
table{
  font-family:Comic sans MS, Arial,Verdana, sans-serif;
  font-size:1.1em;
}
.marge{
  padding-left:15px;
}
.aCote{
  float:right;
  padding:15px;
}
.pad{
  padding:10px;
  padding-bottom:50px;
}
.sectionRetour{
  margin-left:6px;
  background-color:rgba(140,140,140,0.6);
  box-shadow:-6px -6px 2px rgba(100,100,100,0.6);
  border-radius:5px;
  height:50px;
}
.Retour{
  margin:5px;
  margin-left:20px;
  height:20px;
}
